* {

    box-sizing:border-box;
    margin: 0;
    padding: 0;

}

body {

    font-family: 'Monserrat', sans-serif;
    color: #333;

}

.main-header {

    background-color: #FFFFFF;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 100;

}

.nav-container {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {width: 100px;}

.burger-btn {

    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.burger-btn span {

    width: 25px;
    height: 3px;
    background-color: #191414;
}

