* {

    box-sizing:border-box;
    margin: 0;
    padding: 0;

}

body {

    font-family: 'Monserrat', sans-serif;
    color: #333;

}

.main-header {

    background-color: #FFFFFF;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 100;

}

.nav-container {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {width: 100px;}

.burger-btn {

    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.burger-btn span {

    width: 25px;
    height: 3px;
    background-color: #191414;
}

.hero {

    background: url(/assets/landing.jpg);
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    padding: 20px;
}

.features {padding: 50px 20px; text-align: center; }

.section-title { margin-bottom: 40px; }

.section-title::after {

    content: ""; display: block; width: 80px; height: 3px;
    background-color: #1DB954;
    margin: 10px auto;
}

.feature-card {margin-bottom: 30px;} 

.feature-card img {width: 80px; margin-bottom: 10px;}

.feature-card h3{

    color: #1DB954;
    margin-bottom: 10px;

}

.app-highlight {

    background-color: #1DB954;
    color: #FFFFFF;
    padding: 50px 20px;

}

